.icons{
    display: flex;
    margin-bottom: 30px;
}
.whatsapp{
    margin-right: 35px;
    color: #25d366;
    cursor: pointer;
}
.instagram{
    margin-right: 35px;
    color: #e4405f;
    cursor: pointer;
}
.facebook{
    margin-right: 35px;
    color: #1877f2;
    cursor: pointer;
}
.twitter{
    margin-right: 35px;
    color: #1da1f2;
    cursor: pointer;
}
.linkedin{
    margin-right: 35px;
    color: #0077b5;
    cursor: pointer;
    transition: transform 4s ease-out;
}
.linkedin  :hover{
    transform: scale(1.1);
}